// Custom styles.

//图片外部的容器方框
.out-img-topic {
  display: block;
  max-height:400px;
  margin-bottom: 24px;
  overflow: hidden;
}
//图片
img.img-topic {
  display: block ;
  margin-left: .7em;
  margin-right: .7em;
  padding: 0;
}
